@import "../node_modules/reset-css/reset.css";
@import "../node_modules/@fontsource/noto-sans/400.css";
@import "color-scheme.css";

body {
  color: var(--charleston-green);
  background-color: var(--alabaster);
  font-family: 'Noto Sans', sans-serif;
  padding: 0 1rem;
}

h1 {
  font-size: 2rem;
  margin: 2rem 0;
}

#board {
  --dark-square: #b58863;
  --light-square: #f0d9b5;
}

#black-row, #white-row {
  display: flex;
  flex-direction: row;
}

.board-square {
  height: 3.2rem;
  width: 3.2rem;
  font-size: 3.2rem;
  text-align: center;
}

#black-row > .board-square:nth-child(even),
#white-row > .board-square:nth-child(odd) {
  background-color: var(--dark-square);
}

#black-row > .board-square:nth-child(odd),
#white-row > .board-square:nth-child(even) {
  background-color: var(--light-square);
}

#footing {
  margin: 2rem 0;
}

#button {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--bleu-de-france);
    color: var(--bleu-de-france);
    padding: 5px;
    text-decoration: none;
    border-radius: 4px;
    user-select: none;
    transition: color .05s ease-in, background-color .05s ease-in;
}

#button:hover {
  color: var(--alabaster);
  background-color: var(--bleu-de-france);
}